.dining {
    background: rgb(248,248,248);
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}
.dng-p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.dng-hdr {
    margin: 95px 0 30px 0;
    font-size: 30px;
    line-height: 1.1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
}
.dng-p span {
    width: 100px;
    border: 1px solid rgb(198,154,106);
    background: rgb(198,154,106);
    margin: 2px;
}
.dining span:nth-of-type(2) {
    width: 300px;
}
.dng-main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.diners {
    background: rgb(255,255,255);
    min-width: 330px;
    width: 24%;
    height: fit-content;
    margin: 20px;
    border: 1px solid inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: box-shadow 0.6s ease-in-out;
}
.diners:hover {
    box-shadow: 0 0 20px 5px rgb(167, 163, 163);
}
.diners img {
    width: 100%;
    height: 240px;
}
.diners h3 {
    font-size: 30px;
    font-weight: 700;
    margin: 20px 0 40px 0;
    padding: 0 20px;
    color: rgb(8,48,64);
    text-align: center;
}
.diners p {
    display: flex;
    flex-wrap: wrap;
    font-size: 17px;
    padding: 0 25px;
    line-height: 1.6;
    color: rgb(51,51,70);
}
.diners a {
    display: flex;
    align-self: flex-start;
    align-items: center;
    font-size: 17px;
    margin: 30px 0 20px 0;
    padding: 0 25px;
    color: rgb(8,48,64);
    text-decoration: none;
}
.diners a:hover {
    text-decoration: rgb(8,48,64);
}
.inverted {
    min-width: 330px;
    width: 23%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 140px;
    transform: rotate(-90deg);
}
@media only screen and (max-width: 900px) {
    .dng-hdr {
        font-size: 20px;
    }
    .dng-main {
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .diners {
        width: 96%;
    }
    .inverted {
        display: none;
    }
    .diners img {
        height: auto;
    }
    br {
        display: none;
    }
}