.tennis-court {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}
.tennis-court .cont {
    position: relative;
    height: 200px;
    letter-spacing: 1px;
    background: url(../../../img/gallery_bg.jpg);
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position-y: 50%;
    background-size: cover;
    z-index: -3;
}
.tennis-court .cont::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(26, 24, 24, 0.6);
    z-index: -1;
}
.tennis-court .cont h1,
.tennis-court .cont nav {
    margin-left: 130px;
    z-index: 1000;
}
.tennis-court .cont h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 70px;
    font-weight: 800;
    color: white;
    padding: 15px 0;
}
.tennis-court .cont nav {
    font-size: 20px;
    color: rgb(189, 179, 160);
}
.tennis-court .cont nav a{
    text-decoration: none;
    color: rgb(198,154,106);
}
.tennis-p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
}
.tennis-hdr {
    background: white;
    width: 100%;
    padding: 30px 0;
    font-size: 35px;
    line-height: 1.1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.tennis-p span {
    width: 100px;
    border: 1px solid rgb(198,154,106);
    background: rgb(198,154,106);
    margin: 2px;
}
.tennis-court span:nth-of-type(2) {
    width: 300px;
}
.tennis-gallery {
    background: white;
    display: flex;
    justify-content: center;
}
.tennis-gallery nav {
    border: 1px solid rgb(214, 210, 210);
    width: 85%;
}
.tennis-gallery img {
    width: 100%;
    height: 100%;
}
.tennis-info {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 85%;
}
.tennis-info div {
    background: rgb(8,48,64);
    padding: 5px 20px;
    margin: 10px 0;
    width: fit-content;
    font-size: 22px;
    color: white;
}
.tennis-info p {
    font-size: 20px;
    line-height: 1.6;
    margin: 10px 0;
}