.gymnasium {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}
.gymnasium .cont {
    position: relative;
    height: 200px;
    letter-spacing: 1px;
    background: url(../../../img/gallery_bg.jpg);
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position-y: 50%;
    background-size: cover;
    z-index: -3;
}
.gymnasium .cont::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(26, 24, 24, 0.6);
    z-index: -1;
}
.gymnasium .cont h1,
.gymnasium .cont nav {
    margin-left: 130px;
    z-index: 1000;
}
.gymnasium .cont h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 70px;
    font-weight: 800;
    color: white;
    padding: 15px 0;
}
.gymnasium .cont nav {
    font-size: 20px;
    color: rgb(189, 179, 160);
}
.gymnasium .cont nav a{
    text-decoration: none;
    color: rgb(198,154,106);
}
.gym-p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
}
.gym-hdr {
    background: white;
    width: 100%;
    padding: 30px 0;
    font-size: 35px;
    line-height: 1.1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.gym-p span {
    width: 100px;
    border: 1px solid rgb(198,154,106);
    background: rgb(198,154,106);
    margin: 2px;
}
.gymnasium span:nth-of-type(2) {
    width: 300px;
}
.gym-gallery {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gym-gallery nav {
    width: 85%;
}
.gym-gallery img {
    width: 100%;
    height: 100%;
}
.gym1,
.gym2,
.gym3,
.gym4 {
    display: none;
}
.gym1.active,
.gym2.active,
.gym3.active,
.gym4.active {
    transition: 0.3s ease-in-out;
    display: block;
}
.gym-gallery .dot1,
.gym-gallery .dot2,
.gym-gallery .dot3,
.gym-gallery .dot4 {
    margin: 20px 5px 0px 5px;
    color: rgb(214, 202, 202);
}
.gym-gallery .dot1:hover,
.gym-gallery .dot2:hover,
.gym-gallery .dot3:hover,
.gym-gallery .dot4:hover {
    color: grey;
}
.gym-gallery .dot1.active,
.gym-gallery .dot2.active,
.gym-gallery .dot3.active,
.gym-gallery .dot4.active {
    color: grey;
}
.gym-info {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 85%;
}
.gym-info div {
    background: rgb(8,48,64);
    padding: 5px 20px;
    margin: 10px 0;
    width: fit-content;
    font-size: 22px;
    color: white;
}
.gym-info p {
    font-size: 20px;
    line-height: 1.6;
    margin: 10px 0;
}