.recreation-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}
.recreation-page .cont {
    position: relative;
    height: 200px;
    letter-spacing: 1px;
    background: url(../../../img/about_bg.jpg);
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position-y: 60%;
    background-size: cover;
    z-index: -3;
}
.recreation-page .cont::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(26, 24, 24, 0.6);
    z-index: -1;
}
.recreation-page .cont h1,
.recreation-page .cont nav {
    margin-left: 130px;
    z-index: 1000;
}
.recreation-page .cont h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 70px;
    font-weight: 800;
    color: white;
    padding: 15px 0;
}
.recreation-page .cont nav {
    font-size: 20px;
    color: rgb(189, 179, 160);
}
.recreation-page .cont nav a{
    text-decoration: none;
    color: rgb(198,154,106);
}
.rpage-p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
}
.rpage-hdr {
    background: white;
    width: 100%;
    padding: 30px 0;
    font-size: 38px;
    line-height: 1.1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.rpage-p span {
    width: 100px;
    border: 1px solid rgb(198,154,106);
    background: rgb(198,154,106);
    margin: 2px;
}
.recreation-page span:nth-of-type(2) {
    width: 300px;
}
.recreation-page main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.recreation-page main section {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.recreation-page .service {
    width: 50%;
    padding: 10px;
    margin: 20px 0;
    display: flex;
}
.recreation-page .service .img-div {
    min-width: 50%;
    height: 240px;
    border: 1px solid rgb(204, 197, 197);
    padding: 8px;
}
.recreation-page .service img {
    width: 100%;
    height: 100%;
}
.recreation-page .service-info {
    padding: 20px;
}
.recreation-page .service-info  h4 {
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 10px;
    color: rgb(6,48,69);
}
.recreation-page .service-info p {
    margin-bottom: 10px;
}
.recreation-page .service-info a {
    color: rgb(6,48,69);
    font-size: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.recreation-page .service-info a:hover {
    padding: 5px;
    text-decoration: underline;
    text-decoration-color: rgb(6,48,69);
}